h1{
  color: #df7020;
  text-shadow: 2px 2px #703810;
  text-align: center;
}

h2, p{
  color: white;
  text-shadow: 2px 2px #000;
  text-align: center;
}

body{
  background-image:url("https://media.giphy.com/media/3o8dpadHZdBs2iPYdy/giphy.gif");
}

p{
  font-size: 20px;
}

img{
  display: block;
  margin: auto;
}

nav{
  font-weight: bolder;;
  text-shadow: 1px 1px #df7020;
}
