h1{
  text-align: center;
}

h1, h2, p{
  color: white;
  text-shadow: 2px 2px #000;
}

body{
  background-image:url("https://media.giphy.com/media/3o8dpadHZdBs2iPYdy/giphy.gif");
}

p{
  font-size: 20px;
}
